@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sansation";
  src: url("/Sansation-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px; /* adjust width as needed */
  height: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* adjust color as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* adjust color as needed */
  border-radius: 10px;
}

/* From Uiverse.io by JohnnyCSilva */
.coin {
  font-size: 35vh;
  width: 0.1em;
  height: 1em;
  background: linear-gradient(#faa504, #141001);
  margin: auto;

  animation: rotate_4001510 7s infinite linear;
  transform-style: preserve-3d;
}

.coin .side,
.coin:before,
.coin:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  text-align: center;
  line-height: 1;
  transform: rotateY(-90deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coin .tails,
.coin:after {
  left: -0.4em;
  transform: rotateY(90deg);
}

.coin:before,
.coin:after {
  background: linear-gradient(#faa504, #141001);
  backface-visibility: hidden;
  transform: rotateY(90deg);
}

.coin:after {
  transform: rotateY(-90deg);
}

@keyframes rotate_4001510 {
  100% {
    transform: rotateY(360deg);
  }
}

.svg_back {
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .coin {
    font-size: 200px;
    width: 0.1em;
    height: 1em;
    background: linear-gradient(#faa504, #141001);
    margin: auto;

    animation: rotate_4001510 7s infinite linear;
    transform-style: preserve-3d;
  }
}
